#calculator {
  justify-content: flex-end;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 10px 10px 30px black;
  width: 500px;
  height: 600px;
  flex: none;
  flex-wrap: wrap;
  background: #dfd8d0;
}

.border {
  border: 1px solid black;
}
